<img src="http://dummyimage.com/100x125/000/fff" />
<section class="info">
  <header><%= food.name %><small><%= food.company.name %> (<%= App.Data.FoodGroups.get(food.food_group_id).get('name') %>)</small></header>
  <div class="expand-section">
    <div class="nutrients">
      <label>Nurtients</label>
      <div>
<% if (food.nutrients.length > 0) {
     _.each(food.nutrients, function(nutrient) { %>
        <div class="row"><%= nutrient.name %></div>
<%   });
   } else { %>
        <div class="row empty">No Nutrients</div>
<% } %>
      </div>
    </div>
    <div class="products">
      <label>Products</label>
      <div>
<% if (food.products.length > 0) {
     _.each(food.products, function(product) { %>
        <div class="row"><%= product.name %></div>
<%   });
   } else { %>
        <div class="row empty">No Products</div>
<% } %>
      </div>
    </div>
    <div class="clear-both"></div>
  </div>
  <div class="expand-section-button">
  </div>
</section>
<div class="clear-both"></div>
