<h2>Food <%= food.isNew() ? 'Add' : 'Edit' %></h2>
<form autocomplete="off">
  <label for="name">Name</label>
  <input id="name" value="<%= food.escape('name') %>" />
  <span class="name msg"></span><br />

  <label class="div-label" for="company">Company</label>
  <div id="company_id" data-category="company" data-value="<%= food.escape('company_id') %>" data-categories='["company"]'></div>
  <span class="company msg"></span><br />

  <label for="amount">Amount</label>
  <input type="number" min="1" id="amount" value="<%= food.escape('amount') %>" />
  <select id="unit_id">
  <% App.Data.Units.each(function(unit) { %>
    <option value="<%= unit.id %>"<%= food.get('unit_id') == unit.id ? ' selected' : '' %>><%= unit.escape('abbv') %></option>
  <% }); %>
  </select>
  <span class="amount msg"></span><br />

  <label for="calories">Calories</label>
  <input type="number" min="0" id="calories" value="<%= food.escape('calories') %>" />
  <span class="calories msg"></span><br />

  <label for="fat_calories">Fat Calories</label>
  <input type="number" min="0" id="fat_calories" value="<%= food.escape('fat_calories') %>" />
  <span class="fat_calories msg"></span><br />

  <label for="food_group_id">Food Group</label>
  <select id="food_group_id">
  <% App.Data.FoodGroups.each(function(food_group) { %>
    <option value="<%= food_group.id %>"<%= food.get('food_group_id') == food_group.id ? ' selected' : '' %>><%= food_group.escape('name') %></option>
  <% }); %>
  </select><br />
  <input type="button" class="commit" value="<%= food.isNew() ? 'Create' : 'Save' %>" />
</form>
