<img src="http://dummyimage.com/100x125/000/fff" />
<section class="info">
  <header><%= food.get('name') %>
    <small><%= food.get('company').name %> (<%= App.Data.FoodGroups.get(food.get('food_group_id')).get('name') %>)</small>
  </header>
  <div class="expand-section">
    <div class="nutrients">
      <label>Nurtients</label>
      <div>
<% if (food.get('nutrients').length > 0) {
     _.each(food.get('nutrients'), function(nutrient) { %>
        <div class="row"><%= nutrient.name %></div>
<%   });
   } else { %>
        <div class="row empty">No Nutrients</div>
<% } %>
      </div>
    </div>
    <div class="products">
      <label>Products</label>
      <div>
<% if (food.get('products').length > 0) {
     _.each(food.get('products'), function(product) { %>
        <div class="row"><%= product.name %></div>
<%   });
   } else { %>
        <div class="row empty">No Products</div>
<% } %>
      </div>
    </div>
    <div class="clear-both"></div>
  </div>
  <div class="expand-section-button">
  </div>
</section>
<div class="clear-both"></div>
